[Unit]
Description=CDH daemon service

[Service]
User=pi
WorkingDirectory=/home/pi/OBC_CODE/OBC/CDHdaemon
ExecStart=/home/pi/OBC_CODE/OBC/CDHdaemon/CDHdaemon.py
Restart=always

[Install]
WantedBy=multi-user.target
